DATABASE_URL="postgresql://mrsimon:mrsimon_password@localhost:5432/mrsimon_file_system"

S3_ENDPOINT=https://storage.yandexcloud.net
S3_REGION=ru-central1
S3_BUCKET=mrsimon-storage

S3_ACCESS_KEY_ID=
S3_SECRET_ACCESS_KEY=